@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/SpoqaHanSansNeo-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/SpoqaHanSansNeo-Medium.woff')
		format('woff');
}
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/SpoqaHanSansNeo-Regular.woff')
		format('woff');
}
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/SpoqaHanSansNeo-Light.woff')
		format('woff');
}
@font-face {
	font-family: 'Spoqa Han Sans Neo';
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/SpoqaHanSansNeo-Thin.woff')
		format('woff');
}